@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
.fixer{
    left: 15rem;
}
::-webkit-scrollbar{
    width:10px;

}
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px #ffffff;

}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #570244;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #302233;
}

html{
    width: 100%;
    font-family: cursive;
    font-size: 1.3rem;
    font-weight: 500;
    
}
body{
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.main{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    background: none;
}
.heading{
    text-align: center;
    font-family: 'Parisienne',cursive;
}
.writing{
    line-height: 3rem;
}
.thanks{
    text-align: center;
    font-family: 'Parisienne',cursive;
}
.click{
    font-family: 'Parisienne',cursive;
    width: 50%;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    
}
.names{
    font-family: 'Parisienne',cursive;
    font-size: 1.2rem;
}
footer{
    font-family: cursive;
    margin-top: 0rem;
    height: auto;
    width: 100%;
    background: none;
    text-align: center;
    color: black;
}

.f-text{
    text-align: center;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: lighter;
    color: snow;
}
#mc_embed_signup{
    margin-left: auto;
    margin-right: auto;
    width: 30%;

}
#mc_embed_signup_scroll{
    text-align: center;    

}
#mce-FNAME{
    width: 100%;
    height: 1.7rem;

}
#mce-EMAIL{
    width: 100%;
    height: 1.7rem;

}
.email{
    width: 30%;
    height: 1.8rem;
    padding: 0rem;
    border: 0rem;
  
    
}


.submit-btn{
  background-color: rgb(184, 8, 8);
  border: none;
  color: rgb(0, 0, 0);
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;

}
a{
    text-decoration: none;
    
}

.contact-s{
    margin-top: 1rem;
    text-align: center;
    padding-top: 1rem;
    height: 18rem;
    background: none;
}


.titles{
    font-family:'Parisienne', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    width: 30%;
    padding-bottom: 1rem;
}
.details{
    width: 30%;
    line-height: 2rem;

}
#location{
    background-color: #000;
    color: white;
    position: absolute;
    margin-top: -8rem;
    right: 2rem;
    height: 15rem;
    width: 50%;
    border-radius: 5px;
}
.img1{
    background: url(church.jpg);
}
.img2{
    background: url(reception.jfif);
}
@media screen and ( max-width: 1025px){

.contact-s{
    height: 20rem;
    background: none;
}
.main{
    height: auto;
    width: 90%;
    background: none;
}
#location{
    margin-top: 1rem;
    left: 0rem;
    height: 10rem;
    width: 100%;
    
}
.click{
    width: 80%;
}
.footer{
    width: 100%;
}
.titles{
    
    width: 100%;
}
.details{
    width: 100%;
}
#mc_embed_signup{
    width: 90%;

}
.signup{
    margin-top: 43rem;
}
.submit-btn{
    margin-top: 1rem;
}
#bottomhr{
    margin-top: 3rem;
}

}